body
{
    background-image: url(1.png);
    background-color: white;
}
ul{
    color:white;
    list-style-type:none;
    font-size: 40px;
}
li{
    font-size: 20px;
    list-style-type:none;
    position: relative;
    left:10px;
}